body{
    background: rgb(37, 37, 54);
    color: rgb(204, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
}
.content-wrapper{
    margin: 50px;
}
.header-wrapper{
    z-index: 5;
}

.navbar a{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #d1d1d1;
    margin-left: 30px;
}
.navbar-nav a:hover {
    color: #1491e3;
    text-decoration: underline;
}
.navbar-fix {
    padding-left: 6px;
}

.navbar-nav button{
    margin-left: 13px;
    padding-bottom: 8px;
    font-size: 18px;


}

#Q1-wrapper {
    display:none;
}

#Q2-wrapper {
    display:none;

}

#Q3-wrapper {
    display:none;

}


#Q4-wrapper {
    display:none;

}



#delete-wrapper{
    display:none;
}
#insert-wrapper{
    display:none;
}
#update-wrapper{
    display:none;
}
.tab { margin-left: 40px; }

.invisible {
    visibility: none;
}

.inline {
    display: inline;
}

.error-color {
    color: #f54040;
}

.optTitle{
    text-decoration: underline;
    font-weight: bold;
}

#error-block {
    padding-left: 38px;
}


#Title {
    margin-top: 60px;
}

table, th, td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
    background-color: #f0eae2;
}        

.chart-container {
    width: 1750px;
    height: 500px;
}